<section class="section summary-section">
<h2 class="section-title"><i class="fa fa-user"></i>Career Profile</h2>
<div class="summary">
  <p>
  I am a truly team oriented person, and value to be in multidisciplinary teams, like my current one.
  Challenges, innovations and new perspectives in my daily work are highly important to me. I like to have responsibilities and a self-determined working atmosphere, since this ensures my constant enthusiasm.
</p>
  <p>
  I am excited about technical improvements and I am thrilled about web application design and development. My passion for software architecture and best practices will hopefully always give me the drive to improve my own skills and my working outcomes.
</p>

  Most relevant for me in any job are:
<ul>
<li>good working atmosphere and great team spirit</li>
<li>interesting working context</li>
<li>project value</li>
<li>interesting projects</li>
<li>changing tasks</li>
<li>bring in my own ideas</li>
<li>hands-on new technologies, tools and processes</li>
</ul>
</div><!--//summary-->
</section><!--//section-->
