<section class="section experiences-section">
    <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiences</h2>

    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">Full stack web application engineer for <a href="http://www.ihe-europe.net/" target="_blank">IHE-Europe</a></h3>
                <div class="time">August 2012 - October 2016</div>
            </div>
            <!--//upper-row-->
            <div class="company"><a href="http://www.kereval.com/" target="_blank">Kereval</a> - Thorigné-Fouillard (France)</div>
        </div>
        <!--//meta-->
        <div class="details">
            <p>“IHE is an international initiative by healthcare professionals and the industry to improve and ensure interoperability of healthcare IT systems.”</p>

            <p>In my current position with IHE-Europe I am in charge of the substantial parts of maintenance and development of the eHealth interoperability test framework, called “Gazelle”.</p>

            <p>Gazelle framework provides, test management, requirement management, messages validators and simulators to healthcare professionals.</p>
            <p>
                In charge of:
                <ul>
                    <li>Design, development and Maintenance of new features in gazelle test management</li>
                    <li>Creation, design and development of a requirement management tool</li>
                    <li>Servers management (setup, migrations)</li>
                    <li>Application deployments</li>
                    <li>Client support</li>
                </ul>
            </p>
            Skills: Git/Svn, Java, Jboss, Vagrant, Chef, DevOps, Open source, Ruby

        </div>
        <!--//details-->
    </div>
    <!--//item-->

    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">Software testing strategies and best practices consultant</h3>
                <div class="time">2009 - 2012</div>
            </div>
            <!--//upper-row-->
            <div class="company"><a href="http://www.kereval.com/" target="_blank">Kereval</a> - Thorigné-Fouillard (France)</div>
        </div>
        <!--//meta-->
        <div class="details">
            <p>
                Android application validation - project manager
                <ul>
                    <li>Requirement management</li>
                    <li>Dashboard and Report creation/development</li>
                    <li>Team management</li>
                    <li>Application performance analysis</li>
                    <li>Client communication</li>
                    <li>Outcome: a third-party application acceptance testing contract</li>
                </ul>
            </p>
            <p>
                Consultancy
                <ul>
                    <li>Requirement management</li>
                    <li>Testing strategy (hardware and software)</li>
                    <li>Test management</li>
                    <li>Test automation</li>
                    <li>Development practices</li>
                </ul>
            </p>
            <p>
                JIRA setup and training
                <ul>
                    <li>Configuration in alignment to company specifications/processes</li>
                    <li>Training in Jira (users and administrators)</li>
                </ul>
            </p>
            <p>
                Hardware in the loop test bench design for Bobcat
                <ul>
                    <li>Needs review</li>
                    <li>Test bench specification</li>
                    <li>Test tools selection (National instrument, LabView, Acquisys)</li>
                    <li>Design of a test execution tool (Labview)</li>
                    <li>Training of test bench managers (Bobcat)</li>
                </ul>
            </p>
            <p>
                Local Interconnect Network (LIN) and Controller Area Network (CAN) test bench creation
                <ul>
                    <li>Project manager and designer of a LIN and CAN validation bench</li>
                    <li>Requirement analysis and management</li>
                    <li>Testing tools selection (Canoe Vector)</li>
                    <li>Tests and tests results managed in Quality center</li>
                    <li>Automated reports generation</li>
                    <li>Outcome: cut the average testing time involved by at least half</li>
                    <li>Outcome: regular contracts with an automotive supplier</li>
                </ul>
            </p>
            <p>
                Model based test cases generation from Matlab/Simulink models
                <ul>
                    <li>Conception and development of a matlab script</li>
                    <li>Model input fuzzing to enforce model coverage</li>
                    <li>Generation done while simulation is running</li>
                    <li>Used to test embedded software in automotive industry</li>
                    <li>Outcome: divided by 4 the test time and increased code coverage by 2.</li>
                </ul>
            </p>


        </div>
        <!--//details-->
    </div>
    <!--//item-->

    <div class="item">
        <div class="meta">
            <div class="upper-row">
                <h3 class="job-title">Create an <abbr title="hardware-in-the-loop">HIL</abbr> test bench for embedded software</h3>
                <div class="time">Juin 2008 - Septembre 2008</div>
            </div>
            <!--//upper-row-->
            <div class="company">Internship at Neopost, Drachten (Netherlands)</div>
        </div>
        <!--//meta-->
        <div class="details">
            <p>
                <li>Gathered documentation from mechanics</li>
                <li>Implemented the model using National instruments FPGA and Real time computation</li>
                <li>HIL integrated in the continous testing strategy</li>
                <li>Detect errors earlier, can reproduce error conditions</li>
                <li>National instrument post <a href="http://sine.ni.com/cs/app/doc/p/id/cs-11147" target="_blank">here</a></li>
            </p>
        </div>
        <!--//details-->
    </div>
    <!--//item-->

</section>
<!--//section-->
